api:
  listen: ":{{ pi_go2rtc_port }}"

rtsp:
  listen: ":{{ rtsp_port }}"
{{ webrtc_section }}
streams:
  {{ stream_name }}:
    - exec:rpicam-vid -t 0 --inline --width {{ width }} --height {{ height }} --framerate {{ fps }} --profile baseline -o -#video=h264#exec=always
    - exec:ffmpeg -hide_banner -loglevel error -fflags nobuffer -flags low_delay -f pulse -ac 1 -i default -c:a libopus -b:a 32k -af volume={{ audio_gain }} -rtsp_transport tcp -f rtsp {output}#exec=always
    - exec:ffmpeg -hide_banner -loglevel error -fflags nobuffer -probesize 32 -analyzeduration 0 -f alaw -ar 8000 -ac 1 -i pipe:0 -f pulse default#backchannel=1#audio=alaw/8000

preload:
  {{ stream_name }}: "video&audio"
