[Unit]
Description=Hausfunk Pi (go2rtc)
After=network.target

[Service]
Type=simple
ExecStart={{ binary_path }} -config {{ config_path }}
Restart=always
RestartSec=3
Environment=PULSE_SERVER=unix:/run/user/{{ uid }}/pulse/native
Environment=XDG_RUNTIME_DIR=/run/user/{{ uid }}

[Install]
WantedBy=default.target
