[Unit]
Description=Backchannel Audio Receiver (TCP -> Pulse)
After=network.target pulseaudio.service
Wants=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP-LISTEN:5555,reuseaddr,fork EXEC:/opt/bc-play.sh,pty,stderr
Restart=always
RestartSec=3
User=andreas
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
